{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://mediapackage.amazonaws.com/"
        },
        {
            "url": "http://mediapackage.amazonaws.com/"
        }
    ],
    "x-hasEquivalentPaths": true,
    "info": {
        "contact": {
            "email": "mike.ralphson@gmail.com",
            "name": "Mike Ralphson",
            "url": "https://github.com/mermade/aws2openapi",
            "x-twitter": "PermittedSoc"
        },
        "description": "AWS Elemental MediaPackage",
        "license": {
            "name": "Apache 2.0 License",
            "url": "http://www.apache.org/licenses/"
        },
        "termsOfService": "https://aws.amazon.com/service-terms/",
        "title": "AWS Elemental MediaPackage",
        "version": "2017-10-12",
        "x-apiClientRegistration": {
            "url": "https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct"
        },
        "x-apisguru-categories": [
            "cloud"
        ],
        "x-logo": {
            "backgroundColor": "#FFFFFF",
            "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg"
        },
        "x-origin": [
            {
                "contentType": "application/json",
                "converter": {
                    "url": "https://github.com/mermade/aws2openapi",
                    "version": "1.0.0"
                },
                "url": "https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/mediapackage-2017-10-12.normal.json",
                "x-apisguru-direct": true
            }
        ],
        "x-preferred": true,
        "x-providerName": "amazonaws.com",
        "x-release": "v4",
        "x-serviceName": "mediapackage"
    },
    "externalDocs": {
        "description": "Amazon Web Services documentation",
        "url": "https://docs.aws.amazon.com/mediapackage/"
    },
    "security": [
        {
            "hmac": []
        }
    ],
    "paths": {
        "/channels": {
            "get": {
                "description": "Returns a collection of Channels.",
                "operationId": "ListChannels",
                "parameters": [
                    {
                        "description": "Pagination limit",
                        "in": "query",
                        "name": "MaxResults",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Pagination token",
                        "in": "query",
                        "name": "NextToken",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Channels": {
                                            "description": "A list of Channel records.",
                                            "items": {
                                                "description": "A Channel resource configuration.",
                                                "properties": {
                                                    "Arn": {
                                                        "description": "The Amazon Resource Name (ARN) assigned to the Channel.",
                                                        "type": "string"
                                                    },
                                                    "Description": {
                                                        "description": "A short text description of the Channel.",
                                                        "type": "string"
                                                    },
                                                    "HlsIngest": {
                                                        "description": "An HTTP Live Streaming (HLS) ingest resource configuration.",
                                                        "properties": {
                                                            "IngestEndpoints": {
                                                                "description": "A list of endpoints to which the source stream should be sent.",
                                                                "items": {
                                                                    "description": "An endpoint for ingesting source content for a Channel.",
                                                                    "properties": {
                                                                        "Id": {
                                                                            "description": "The system generated unique identifier for the IngestEndpoint",
                                                                            "type": "string"
                                                                        },
                                                                        "Password": {
                                                                            "description": "The system generated password for ingest authentication.",
                                                                            "type": "string"
                                                                        },
                                                                        "Url": {
                                                                            "description": "The ingest URL to which the source stream should be sent.",
                                                                            "type": "string"
                                                                        },
                                                                        "Username": {
                                                                            "description": "The system generated username for ingest authentication.",
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                },
                                                                "type": "array"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "Id": {
                                                        "description": "The ID of the Channel.",
                                                        "type": "string"
                                                    },
                                                    "Tags": {
                                                        "description": "A collection of tags associated with a resource",
                                                        "items": {
                                                            "properties": {
                                                                "key": {
                                                                    "type": "string"
                                                                },
                                                                "value": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "type": "array"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "NextToken": {
                                            "description": "A token that can be used to resume pagination from the end of the collection.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "UnprocessableEntityException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "InternalServerErrorException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "ForbiddenException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "NotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "ServiceUnavailableException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "485": {
                        "description": "TooManyRequestsException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {},
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            },
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Creates a new Channel.",
                "operationId": "CreateChannel",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Arn": {
                                            "description": "The Amazon Resource Name (ARN) assigned to the Channel.",
                                            "type": "string"
                                        },
                                        "Description": {
                                            "description": "A short text description of the Channel.",
                                            "type": "string"
                                        },
                                        "HlsIngest": {
                                            "description": "An HTTP Live Streaming (HLS) ingest resource configuration.",
                                            "properties": {
                                                "IngestEndpoints": {
                                                    "description": "A list of endpoints to which the source stream should be sent.",
                                                    "items": {
                                                        "description": "An endpoint for ingesting source content for a Channel.",
                                                        "properties": {
                                                            "Id": {
                                                                "description": "The system generated unique identifier for the IngestEndpoint",
                                                                "type": "string"
                                                            },
                                                            "Password": {
                                                                "description": "The system generated password for ingest authentication.",
                                                                "type": "string"
                                                            },
                                                            "Url": {
                                                                "description": "The ingest URL to which the source stream should be sent.",
                                                                "type": "string"
                                                            },
                                                            "Username": {
                                                                "description": "The system generated username for ingest authentication.",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "Id": {
                                            "description": "The ID of the Channel.",
                                            "type": "string"
                                        },
                                        "Tags": {
                                            "description": "A collection of tags associated with a resource",
                                            "items": {
                                                "properties": {
                                                    "key": {
                                                        "type": "string"
                                                    },
                                                    "value": {
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "UnprocessableEntityException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "InternalServerErrorException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "ForbiddenException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "NotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "ServiceUnavailableException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "485": {
                        "description": "TooManyRequestsException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "A new Channel configuration.",
                                "properties": {
                                    "Description": {
                                        "description": "A short text description of the Channel.",
                                        "type": "string"
                                    },
                                    "Id": {
                                        "description": "The ID of the Channel. The ID must be unique within the region and it\ncannot be changed after a Channel is created.\n",
                                        "type": "string"
                                    },
                                    "Tags": {
                                        "description": "A collection of tags associated with a resource",
                                        "items": {
                                            "properties": {
                                                "key": {
                                                    "type": "string"
                                                },
                                                "value": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "type": "array"
                                    }
                                },
                                "required": [
                                    "Id"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/channels/{id}": {
            "delete": {
                "description": "Deletes an existing Channel.",
                "operationId": "DeleteChannel",
                "parameters": [
                    {
                        "in": "path",
                        "name": "id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "202": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "UnprocessableEntityException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "InternalServerErrorException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "ForbiddenException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "NotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "ServiceUnavailableException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "485": {
                        "description": "TooManyRequestsException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {},
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            },
            "get": {
                "description": "Gets details about a Channel.",
                "operationId": "DescribeChannel",
                "parameters": [
                    {
                        "in": "path",
                        "name": "id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Arn": {
                                            "description": "The Amazon Resource Name (ARN) assigned to the Channel.",
                                            "type": "string"
                                        },
                                        "Description": {
                                            "description": "A short text description of the Channel.",
                                            "type": "string"
                                        },
                                        "HlsIngest": {
                                            "description": "An HTTP Live Streaming (HLS) ingest resource configuration.",
                                            "properties": {
                                                "IngestEndpoints": {
                                                    "description": "A list of endpoints to which the source stream should be sent.",
                                                    "items": {
                                                        "description": "An endpoint for ingesting source content for a Channel.",
                                                        "properties": {
                                                            "Id": {
                                                                "description": "The system generated unique identifier for the IngestEndpoint",
                                                                "type": "string"
                                                            },
                                                            "Password": {
                                                                "description": "The system generated password for ingest authentication.",
                                                                "type": "string"
                                                            },
                                                            "Url": {
                                                                "description": "The ingest URL to which the source stream should be sent.",
                                                                "type": "string"
                                                            },
                                                            "Username": {
                                                                "description": "The system generated username for ingest authentication.",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "Id": {
                                            "description": "The ID of the Channel.",
                                            "type": "string"
                                        },
                                        "Tags": {
                                            "description": "A collection of tags associated with a resource",
                                            "items": {
                                                "properties": {
                                                    "key": {
                                                        "type": "string"
                                                    },
                                                    "value": {
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "UnprocessableEntityException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "InternalServerErrorException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "ForbiddenException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "NotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "ServiceUnavailableException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "485": {
                        "description": "TooManyRequestsException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {},
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            },
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "put": {
                "description": "Updates an existing Channel.",
                "operationId": "UpdateChannel",
                "parameters": [
                    {
                        "in": "path",
                        "name": "id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Arn": {
                                            "description": "The Amazon Resource Name (ARN) assigned to the Channel.",
                                            "type": "string"
                                        },
                                        "Description": {
                                            "description": "A short text description of the Channel.",
                                            "type": "string"
                                        },
                                        "HlsIngest": {
                                            "description": "An HTTP Live Streaming (HLS) ingest resource configuration.",
                                            "properties": {
                                                "IngestEndpoints": {
                                                    "description": "A list of endpoints to which the source stream should be sent.",
                                                    "items": {
                                                        "description": "An endpoint for ingesting source content for a Channel.",
                                                        "properties": {
                                                            "Id": {
                                                                "description": "The system generated unique identifier for the IngestEndpoint",
                                                                "type": "string"
                                                            },
                                                            "Password": {
                                                                "description": "The system generated password for ingest authentication.",
                                                                "type": "string"
                                                            },
                                                            "Url": {
                                                                "description": "The ingest URL to which the source stream should be sent.",
                                                                "type": "string"
                                                            },
                                                            "Username": {
                                                                "description": "The system generated username for ingest authentication.",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "Id": {
                                            "description": "The ID of the Channel.",
                                            "type": "string"
                                        },
                                        "Tags": {
                                            "description": "A collection of tags associated with a resource",
                                            "items": {
                                                "properties": {
                                                    "key": {
                                                        "type": "string"
                                                    },
                                                    "value": {
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "UnprocessableEntityException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "InternalServerErrorException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "ForbiddenException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "NotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "ServiceUnavailableException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "485": {
                        "description": "TooManyRequestsException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "Configuration parameters used to update the Channel.",
                                "properties": {
                                    "Description": {
                                        "description": "A short text description of the Channel.",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/channels/{id}/credentials": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "put": {
                "description": "Changes the Channel's first IngestEndpoint's username and password. WARNING - This API is deprecated. Please use RotateIngestEndpointCredentials instead",
                "operationId": "RotateChannelCredentials",
                "parameters": [
                    {
                        "in": "path",
                        "name": "id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Arn": {
                                            "description": "The Amazon Resource Name (ARN) assigned to the Channel.",
                                            "type": "string"
                                        },
                                        "Description": {
                                            "description": "A short text description of the Channel.",
                                            "type": "string"
                                        },
                                        "HlsIngest": {
                                            "description": "An HTTP Live Streaming (HLS) ingest resource configuration.",
                                            "properties": {
                                                "IngestEndpoints": {
                                                    "description": "A list of endpoints to which the source stream should be sent.",
                                                    "items": {
                                                        "description": "An endpoint for ingesting source content for a Channel.",
                                                        "properties": {
                                                            "Id": {
                                                                "description": "The system generated unique identifier for the IngestEndpoint",
                                                                "type": "string"
                                                            },
                                                            "Password": {
                                                                "description": "The system generated password for ingest authentication.",
                                                                "type": "string"
                                                            },
                                                            "Url": {
                                                                "description": "The ingest URL to which the source stream should be sent.",
                                                                "type": "string"
                                                            },
                                                            "Username": {
                                                                "description": "The system generated username for ingest authentication.",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "Id": {
                                            "description": "The ID of the Channel.",
                                            "type": "string"
                                        },
                                        "Tags": {
                                            "description": "A collection of tags associated with a resource",
                                            "items": {
                                                "properties": {
                                                    "key": {
                                                        "type": "string"
                                                    },
                                                    "value": {
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "UnprocessableEntityException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "InternalServerErrorException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "ForbiddenException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "NotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "ServiceUnavailableException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "485": {
                        "description": "TooManyRequestsException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {},
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/channels/{id}/ingest_endpoints/{ingest_endpoint_id}/credentials": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "put": {
                "description": "Rotate the IngestEndpoint's username and password, as specified by the IngestEndpoint's id.",
                "operationId": "RotateIngestEndpointCredentials",
                "parameters": [
                    {
                        "in": "path",
                        "name": "id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "path",
                        "name": "ingest_endpoint_id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Arn": {
                                            "description": "The Amazon Resource Name (ARN) assigned to the Channel.",
                                            "type": "string"
                                        },
                                        "Description": {
                                            "description": "A short text description of the Channel.",
                                            "type": "string"
                                        },
                                        "HlsIngest": {
                                            "description": "An HTTP Live Streaming (HLS) ingest resource configuration.",
                                            "properties": {
                                                "IngestEndpoints": {
                                                    "description": "A list of endpoints to which the source stream should be sent.",
                                                    "items": {
                                                        "description": "An endpoint for ingesting source content for a Channel.",
                                                        "properties": {
                                                            "Id": {
                                                                "description": "The system generated unique identifier for the IngestEndpoint",
                                                                "type": "string"
                                                            },
                                                            "Password": {
                                                                "description": "The system generated password for ingest authentication.",
                                                                "type": "string"
                                                            },
                                                            "Url": {
                                                                "description": "The ingest URL to which the source stream should be sent.",
                                                                "type": "string"
                                                            },
                                                            "Username": {
                                                                "description": "The system generated username for ingest authentication.",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "Id": {
                                            "description": "The ID of the Channel.",
                                            "type": "string"
                                        },
                                        "Tags": {
                                            "description": "A collection of tags associated with a resource",
                                            "items": {
                                                "properties": {
                                                    "key": {
                                                        "type": "string"
                                                    },
                                                    "value": {
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "UnprocessableEntityException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "InternalServerErrorException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "ForbiddenException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "NotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "ServiceUnavailableException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "485": {
                        "description": "TooManyRequestsException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {},
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/origin_endpoints": {
            "get": {
                "description": "Returns a collection of OriginEndpoint records.",
                "operationId": "ListOriginEndpoints",
                "parameters": [
                    {
                        "description": "Pagination limit",
                        "in": "query",
                        "name": "MaxResults",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Pagination token",
                        "in": "query",
                        "name": "NextToken",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "NextToken": {
                                            "description": "A token that can be used to resume pagination from the end of the collection.",
                                            "type": "string"
                                        },
                                        "OriginEndpoints": {
                                            "description": "A list of OriginEndpoint records.",
                                            "items": {
                                                "description": "An OriginEndpoint resource configuration.",
                                                "properties": {
                                                    "Arn": {
                                                        "description": "The Amazon Resource Name (ARN) assigned to the OriginEndpoint.",
                                                        "type": "string"
                                                    },
                                                    "ChannelId": {
                                                        "description": "The ID of the Channel the OriginEndpoint is associated with.",
                                                        "type": "string"
                                                    },
                                                    "CmafPackage": {
                                                        "description": "A Common Media Application Format (CMAF) packaging configuration.",
                                                        "properties": {
                                                            "Encryption": {
                                                                "description": "A Common Media Application Format (CMAF) encryption configuration.",
                                                                "properties": {
                                                                    "KeyRotationIntervalSeconds": {
                                                                        "description": "Time (in seconds) between each encryption key rotation.",
                                                                        "type": "integer"
                                                                    },
                                                                    "SpekeKeyProvider": {
                                                                        "description": "A configuration for accessing an external Secure Packager and Encoder Key Exchange (SPEKE) service that will provide encryption keys.",
                                                                        "properties": {
                                                                            "CertificateArn": {
                                                                                "description": "An Amazon Resource Name (ARN) of a Certificate Manager certificate\nthat MediaPackage will use for enforcing secure end-to-end data\ntransfer with the key provider service.\n",
                                                                                "type": "string"
                                                                            },
                                                                            "ResourceId": {
                                                                                "description": "The resource ID to include in key requests.",
                                                                                "type": "string"
                                                                            },
                                                                            "RoleArn": {
                                                                                "description": "An Amazon Resource Name (ARN) of an IAM role that AWS Elemental\nMediaPackage will assume when accessing the key provider service.\n",
                                                                                "type": "string"
                                                                            },
                                                                            "SystemIds": {
                                                                                "description": "The system IDs to include in key requests.",
                                                                                "items": {
                                                                                    "type": "string"
                                                                                },
                                                                                "type": "array"
                                                                            },
                                                                            "Url": {
                                                                                "description": "The URL of the external key provider service.",
                                                                                "type": "string"
                                                                            }
                                                                        },
                                                                        "required": [
                                                                            "Url",
                                                                            "ResourceId",
                                                                            "RoleArn",
                                                                            "SystemIds"
                                                                        ],
                                                                        "type": "object"
                                                                    }
                                                                },
                                                                "required": [
                                                                    "SpekeKeyProvider"
                                                                ],
                                                                "type": "object"
                                                            },
                                                            "HlsManifests": {
                                                                "description": "A list of HLS manifest configurations",
                                                                "items": {
                                                                    "description": "A HTTP Live Streaming (HLS) manifest configuration.",
                                                                    "properties": {
                                                                        "AdMarkers": {
                                                                            "description": "This setting controls how ad markers are included in the packaged OriginEndpoint.\n\"NONE\" will omit all SCTE-35 ad markers from the output.\n\"PASSTHROUGH\" causes the manifest to contain a copy of the SCTE-35 ad\nmarkers (comments) taken directly from the input HTTP Live Streaming (HLS) manifest.\n\"SCTE35_ENHANCED\" generates ad markers and blackout tags based on SCTE-35\nmessages in the input source.\n",
                                                                            "enum": [
                                                                                "NONE",
                                                                                "SCTE35_ENHANCED",
                                                                                "PASSTHROUGH"
                                                                            ],
                                                                            "type": "string"
                                                                        },
                                                                        "Id": {
                                                                            "description": "The ID of the manifest. The ID must be unique within the OriginEndpoint and it cannot be changed after it is created.",
                                                                            "type": "string"
                                                                        },
                                                                        "IncludeIframeOnlyStream": {
                                                                            "description": "When enabled, an I-Frame only stream will be included in the output.",
                                                                            "type": "boolean"
                                                                        },
                                                                        "ManifestName": {
                                                                            "description": "An optional short string appended to the end of the OriginEndpoint URL. If not specified, defaults to the manifestName for the OriginEndpoint.",
                                                                            "type": "string"
                                                                        },
                                                                        "PlaylistType": {
                                                                            "description": "The HTTP Live Streaming (HLS) playlist type.\nWhen either \"EVENT\" or \"VOD\" is specified, a corresponding EXT-X-PLAYLIST-TYPE\nentry will be included in the media playlist.\n",
                                                                            "enum": [
                                                                                "NONE",
                                                                                "EVENT",
                                                                                "VOD"
                                                                            ],
                                                                            "type": "string"
                                                                        },
                                                                        "PlaylistWindowSeconds": {
                                                                            "description": "Time window (in seconds) contained in each parent manifest.",
                                                                            "type": "integer"
                                                                        },
                                                                        "ProgramDateTimeIntervalSeconds": {
                                                                            "description": "The interval (in seconds) between each EXT-X-PROGRAM-DATE-TIME tag\ninserted into manifests. Additionally, when an interval is specified\nID3Timed Metadata messages will be generated every 5 seconds using the\ningest time of the content.\nIf the interval is not specified, or set to 0, then\nno EXT-X-PROGRAM-DATE-TIME tags will be inserted into manifests and no\nID3Timed Metadata messages will be generated. Note that irrespective\nof this parameter, if any ID3 Timed Metadata is found in HTTP Live Streaming (HLS) input,\nit will be passed through to HLS output.\n",
                                                                            "type": "integer"
                                                                        },
                                                                        "Url": {
                                                                            "description": "The URL of the packaged OriginEndpoint for consumption.",
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "required": [
                                                                        "Id"
                                                                    ],
                                                                    "type": "object"
                                                                },
                                                                "type": "array"
                                                            },
                                                            "SegmentDurationSeconds": {
                                                                "description": "Duration (in seconds) of each segment. Actual segments will be\nrounded to the nearest multiple of the source segment duration.\n",
                                                                "type": "integer"
                                                            },
                                                            "SegmentPrefix": {
                                                                "description": "An optional custom string that is prepended to the name of each segment. If not specified, it defaults to the ChannelId.",
                                                                "type": "string"
                                                            },
                                                            "StreamSelection": {
                                                                "description": "A StreamSelection configuration.",
                                                                "properties": {
                                                                    "MaxVideoBitsPerSecond": {
                                                                        "description": "The maximum video bitrate (bps) to include in output.",
                                                                        "type": "integer"
                                                                    },
                                                                    "MinVideoBitsPerSecond": {
                                                                        "description": "The minimum video bitrate (bps) to include in output.",
                                                                        "type": "integer"
                                                                    },
                                                                    "StreamOrder": {
                                                                        "description": "A directive that determines the order of streams in the output.",
                                                                        "enum": [
                                                                            "ORIGINAL",
                                                                            "VIDEO_BITRATE_ASCENDING",
                                                                            "VIDEO_BITRATE_DESCENDING"
                                                                        ],
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "DashPackage": {
                                                        "description": "A Dynamic Adaptive Streaming over HTTP (DASH) packaging configuration.",
                                                        "properties": {
                                                            "Encryption": {
                                                                "description": "A Dynamic Adaptive Streaming over HTTP (DASH) encryption configuration.",
                                                                "properties": {
                                                                    "KeyRotationIntervalSeconds": {
                                                                        "description": "Time (in seconds) between each encryption key rotation.",
                                                                        "type": "integer"
                                                                    },
                                                                    "SpekeKeyProvider": {
                                                                        "description": "A configuration for accessing an external Secure Packager and Encoder Key Exchange (SPEKE) service that will provide encryption keys.",
                                                                        "properties": {
                                                                            "CertificateArn": {
                                                                                "description": "An Amazon Resource Name (ARN) of a Certificate Manager certificate\nthat MediaPackage will use for enforcing secure end-to-end data\ntransfer with the key provider service.\n",
                                                                                "type": "string"
                                                                            },
                                                                            "ResourceId": {
                                                                                "description": "The resource ID to include in key requests.",
                                                                                "type": "string"
                                                                            },
                                                                            "RoleArn": {
                                                                                "description": "An Amazon Resource Name (ARN) of an IAM role that AWS Elemental\nMediaPackage will assume when accessing the key provider service.\n",
                                                                                "type": "string"
                                                                            },
                                                                            "SystemIds": {
                                                                                "description": "The system IDs to include in key requests.",
                                                                                "items": {
                                                                                    "type": "string"
                                                                                },
                                                                                "type": "array"
                                                                            },
                                                                            "Url": {
                                                                                "description": "The URL of the external key provider service.",
                                                                                "type": "string"
                                                                            }
                                                                        },
                                                                        "required": [
                                                                            "Url",
                                                                            "ResourceId",
                                                                            "RoleArn",
                                                                            "SystemIds"
                                                                        ],
                                                                        "type": "object"
                                                                    }
                                                                },
                                                                "required": [
                                                                    "SpekeKeyProvider"
                                                                ],
                                                                "type": "object"
                                                            },
                                                            "ManifestLayout": {
                                                                "description": "Determines the position of some tags in the Media Presentation Description (MPD).  When set to FULL, elements like SegmentTemplate and ContentProtection are included in each Representation.  When set to COMPACT, duplicate elements are combined and presented at the AdaptationSet level.",
                                                                "enum": [
                                                                    "FULL",
                                                                    "COMPACT"
                                                                ],
                                                                "type": "string"
                                                            },
                                                            "ManifestWindowSeconds": {
                                                                "description": "Time window (in seconds) contained in each manifest.",
                                                                "type": "integer"
                                                            },
                                                            "MinBufferTimeSeconds": {
                                                                "description": "Minimum duration (in seconds) that a player will buffer media before starting the presentation.",
                                                                "type": "integer"
                                                            },
                                                            "MinUpdatePeriodSeconds": {
                                                                "description": "Minimum duration (in seconds) between potential changes to the Dynamic Adaptive Streaming over HTTP (DASH) Media Presentation Description (MPD).",
                                                                "type": "integer"
                                                            },
                                                            "PeriodTriggers": {
                                                                "description": "A list of triggers that controls when the outgoing Dynamic Adaptive Streaming over HTTP (DASH)\nMedia Presentation Description (MPD) will be partitioned into multiple periods. If empty, the content will not\nbe partitioned into more than one period. If the list contains \"ADS\", new periods will be created where\nthe Channel source contains SCTE-35 ad markers.\n",
                                                                "items": {
                                                                    "enum": [
                                                                        "ADS"
                                                                    ],
                                                                    "type": "string"
                                                                },
                                                                "type": "array"
                                                            },
                                                            "Profile": {
                                                                "description": "The Dynamic Adaptive Streaming over HTTP (DASH) profile type.  When set to \"HBBTV_1_5\", HbbTV 1.5 compliant output is enabled.",
                                                                "enum": [
                                                                    "NONE",
                                                                    "HBBTV_1_5"
                                                                ],
                                                                "type": "string"
                                                            },
                                                            "SegmentDurationSeconds": {
                                                                "description": "Duration (in seconds) of each segment. Actual segments will be\nrounded to the nearest multiple of the source segment duration.\n",
                                                                "type": "integer"
                                                            },
                                                            "SegmentTemplateFormat": {
                                                                "description": "Determines the type of SegmentTimeline included in the Media Presentation Description (MPD).  When set to NUMBER_WITH_TIMELINE, a full timeline is presented in each SegmentTemplate, with $Number$ media URLs.  When set to TIME_WITH_TIMELINE, a full timeline is presented in each SegmentTemplate, with $Time$ media URLs.",
                                                                "enum": [
                                                                    "NUMBER_WITH_TIMELINE",
                                                                    "TIME_WITH_TIMELINE"
                                                                ],
                                                                "type": "string"
                                                            },
                                                            "StreamSelection": {
                                                                "description": "A StreamSelection configuration.",
                                                                "properties": {
                                                                    "MaxVideoBitsPerSecond": {
                                                                        "description": "The maximum video bitrate (bps) to include in output.",
                                                                        "type": "integer"
                                                                    },
                                                                    "MinVideoBitsPerSecond": {
                                                                        "description": "The minimum video bitrate (bps) to include in output.",
                                                                        "type": "integer"
                                                                    },
                                                                    "StreamOrder": {
                                                                        "description": "A directive that determines the order of streams in the output.",
                                                                        "enum": [
                                                                            "ORIGINAL",
                                                                            "VIDEO_BITRATE_ASCENDING",
                                                                            "VIDEO_BITRATE_DESCENDING"
                                                                        ],
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "SuggestedPresentationDelaySeconds": {
                                                                "description": "Duration (in seconds) to delay live content before presentation.",
                                                                "type": "integer"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "Description": {
                                                        "description": "A short text description of the OriginEndpoint.",
                                                        "type": "string"
                                                    },
                                                    "HlsPackage": {
                                                        "description": "An HTTP Live Streaming (HLS) packaging configuration.",
                                                        "properties": {
                                                            "AdMarkers": {
                                                                "description": "This setting controls how ad markers are included in the packaged OriginEndpoint.\n\"NONE\" will omit all SCTE-35 ad markers from the output.\n\"PASSTHROUGH\" causes the manifest to contain a copy of the SCTE-35 ad\nmarkers (comments) taken directly from the input HTTP Live Streaming (HLS) manifest.\n\"SCTE35_ENHANCED\" generates ad markers and blackout tags based on SCTE-35\nmessages in the input source.\n",
                                                                "enum": [
                                                                    "NONE",
                                                                    "SCTE35_ENHANCED",
                                                                    "PASSTHROUGH"
                                                                ],
                                                                "type": "string"
                                                            },
                                                            "Encryption": {
                                                                "description": "An HTTP Live Streaming (HLS) encryption configuration.",
                                                                "properties": {
                                                                    "ConstantInitializationVector": {
                                                                        "description": "A constant initialization vector for encryption (optional).\nWhen not specified the initialization vector will be periodically rotated.\n",
                                                                        "type": "string"
                                                                    },
                                                                    "EncryptionMethod": {
                                                                        "description": "The encryption method to use.",
                                                                        "enum": [
                                                                            "AES_128",
                                                                            "SAMPLE_AES"
                                                                        ],
                                                                        "type": "string"
                                                                    },
                                                                    "KeyRotationIntervalSeconds": {
                                                                        "description": "Interval (in seconds) between each encryption key rotation.",
                                                                        "type": "integer"
                                                                    },
                                                                    "RepeatExtXKey": {
                                                                        "description": "When enabled, the EXT-X-KEY tag will be repeated in output manifests.",
                                                                        "type": "boolean"
                                                                    },
                                                                    "SpekeKeyProvider": {
                                                                        "description": "A configuration for accessing an external Secure Packager and Encoder Key Exchange (SPEKE) service that will provide encryption keys.",
                                                                        "properties": {
                                                                            "CertificateArn": {
                                                                                "description": "An Amazon Resource Name (ARN) of a Certificate Manager certificate\nthat MediaPackage will use for enforcing secure end-to-end data\ntransfer with the key provider service.\n",
                                                                                "type": "string"
                                                                            },
                                                                            "ResourceId": {
                                                                                "description": "The resource ID to include in key requests.",
                                                                                "type": "string"
                                                                            },
                                                                            "RoleArn": {
                                                                                "description": "An Amazon Resource Name (ARN) of an IAM role that AWS Elemental\nMediaPackage will assume when accessing the key provider service.\n",
[...]
